n8n/live/quantitative-v2-template-fix.json
{
  "name": "TEST - SOTA 2026 - WF4 Quantitative V2.0",
  "nodes": [
    {
      "id": "d8623e2a-1060-46e1-b3e9-33251065d013",
      "name": "Init & ACL",
      "type": "n8n-nodes-base.code",
      "position": [
        208,
        208
      ],
      "parameters": {
        "jsCode": "// ============================================\n// PATCH #1: INIT & ACL - ORCHESTRATOR SUPPORT\n// ============================================\n// Pour: WF4 Quantitative & WF2 Graph\n// Bug: Workflows \u00e9chouent quand appel\u00e9s par orchestrateur\n// Fix: Support multi-format d'entr\u00e9e\n\n// Init & ACL for RAG - HARDENED V2.2 (ORCHESTRATOR FIX)\nconst rawInput = $input.first().json;\nconst input = rawInput.body || rawInput;\n\n// === EXTRACTION ROBUSTE DE LA QUERY ===\n// Supporte: webhook, chat trigger, sub-workflow, ET orchestrator\nlet queryStr = '';\n\n// Priorit\u00e9 1: Direct query field (webhook/chat)\nif (typeof input.query === 'string') {\n  queryStr = input.query;\n}\n// Priorit\u00e9 2: Chat input\nelse if (input.chatInput) {\n  queryStr = input.chatInput;\n}\n// Priorit\u00e9 3: Orchestrator format - task_query\nelse if (input.task_query) {\n  queryStr = input.task_query;\n}\n// Priorit\u00e9 4: Orchestrator format - current_task.query\nelse if (input.current_task && typeof input.current_task.query === 'string') {\n  queryStr = input.current_task.query;\n}\n// Priorit\u00e9 5: Query as object (stringify)\nelse if (input.query && typeof input.query === 'object') {\n  queryStr = JSON.stringify(input.query);\n}\n\nconst query = queryStr.trim();\n\n// === VALIDATION ===\nif (!query || query.length < 2) {\n  throw new Error('VALIDATION_ERROR: query is required and must be at least 2 characters');\n}\n\n// === EXTRACTION DU USER CONTEXT ===\n// Parse user_context (peut \u00eatre string JSON ou objet)\nlet userContext = {};\n\nif (typeof input.user_context === 'string') {\n  try {\n    userContext = JSON.parse(input.user_context);\n  } catch (e) {\n    userContext = {};\n  }\n} else if (input.user_context && typeof input.user_context === 'object') {\n  userContext = input.user_context;\n}\n\n// === EXTRACTION DU TRACE_ID ===\n// Support multiple sources\nconst traceId = input.trace_id || \n                input.current_task?.trace_id || \n                `tr-rag-${Date.now()}-${Math.random().toString(36).substring(2, 10)}`;\n\n// === OUTPUT ===\nreturn [{\n  json: {\n    trace_id: traceId,\n    query: query.substring(0, 2000),\n    user_context: {\n      tenant_id: userContext.tenant_id || input.tenant_id || 'default',\n      groups: Array.isArray(userContext.groups) ? userContext.groups : ['guest']\n    },\n    timestamp: new Date().toISOString(),\n    source: rawInput.body ? 'webhook' : \n            (rawInput.chatInput ? 'chat' : \n            (input.task_query ? 'orchestrator' : 'subworkflow')),\n    \n    // Metadata pour debugging\n    _debug: {\n      original_input_keys: Object.keys(input),\n      query_source: input.task_query ? 'task_query' : \n                    (input.current_task ? 'current_task.query' : \n                    (input.chatInput ? 'chatInput' : 'query'))\n    }\n  }\n}];\n\n"
      },
      "typeVersion": 2
    },
    {
      "id": "629ec593-2bf6-4688-99d2-fe8b2009e062",
      "name": "Schema Introspection",
      "type": "n8n-nodes-base.postgres",
      "position": [
        400,
        208
      ],
      "parameters": {
        "query": "SELECT table_name, column_name, data_type, is_nullable \nFROM information_schema.columns \nWHERE table_schema = 'public'\n  AND table_name IN ('financials', 'balance_sheet', 'sales_data', 'products', 'employees', 'quarterly_revenue', 'orders', 'customers', 'departments', 'finqa_tables', 'convfinqa_tables')\n  AND table_name NOT LIKE 'pg_%'\n  AND table_name NOT LIKE '_realtime%'\n  AND table_name NOT LIKE 'supabase_%'\nORDER BY table_name, ordinal_position\nLIMIT 500",
        "options": {
          "ssl": false,
          "queryTimeout": 30000
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "USU8ngVzsUbED3mn",
          "name": "Supabase Postgres (Pooler)"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "f52905d6-700c-45b2-8265-4501a7c08482",
      "name": "Schema Context Builder",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        208
      ],
      "parameters": {
        "jsCode": "// Build schema context for LLM\nconst inputData = $input.all();\nif (!inputData || inputData.length === 0) {\n  return {\n    ...$node['Init & ACL'].json,\n    schema_context: \"Aucune table trouv\u00e9e dans le sch\u00e9ma public.\",\n    available_tables: []\n  };\n}\n\nconst schemaData = inputData.map(i => i.json);\nconst tables = {};\n\nschemaData.forEach(col => {\n  if (!tables[col.table_name]) tables[col.table_name] = [];\n  tables[col.table_name].push(`${col.column_name} ${col.data_type}${col.is_nullable === 'NO' ? ' NOT NULL' : ''}`);\n});\n\nconst schemaContext = Object.entries(tables)\n  .map(([table, columns]) => `Table: ${table}\\nColumns: ${columns.join(', ')}`)\n  .join('\\n\\n');\n\n// Add common relationships / foreign keys context\nconst FK_CONTEXT = `\nFOREIGN KEY RELATIONSHIPS (for JOINs):\n- financials.company_name = balance_sheet.company_name (join on company + year + period)\n- financials.company_name = quarterly_revenue.company_name\n- financials.company_name = employees.company_name\n- orders.customer_id = customers.id\n- orders.product_id = products.id\n- order_items.order_id = orders.id\n- order_items.product_id = products.id\n- employees.department_id = departments.id\n\nIMPORTANT RULES:\n- financials: use period='FY' for annual totals (avoid double-counting with quarterly rows)\n- tenant_id filter: WHERE tenant_id = 'default' OR tenant_id IS NULL (catches all data)\n- Company names may have suffixes (Inc, Corp, Ltd) \u2014 use ILIKE '%company_name%'\n`;\n\nconst initData = $node['Init & ACL'].json;\n\nreturn {\n  ...initData,\n  schema_context: schemaContext,\n  available_tables: Object.keys(tables)\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "1b0e89ee-a913-498e-ab6d-2f8d568a2d2f",
      "name": "Text-to-SQL Generator (CoT Enhanced)",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        800,
        208
      ],
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "body": "={{ JSON.stringify($json.requestBody) }}",
        "method": "POST",
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 8000
          },
          "timeout": 90000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "raw",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "nodeCredentialType": "openRouterApi"
      },
      "credentials": {},
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "id": "e3780345-617d-4483-9ab4-79a5c8873cf8",
      "name": "SQL Validator (Shield #1)",
      "type": "n8n-nodes-base.code",
      "position": [
        1008,
        208
      ],
      "parameters": {
        "jsCode": "// CRITICAL: SQL Validator - Security Shield (ERROR-SAFE VERSION + TEMPLATE SUPPORT)\n// Never throws - returns error data that flows through pipeline\nconst contextData = $node['Schema Context Builder'].json;\n\ntry {\n  // ============================================\n  // TEMPLATE CHECK \u2014 bypass LLM response parsing if template matched\n  // ============================================\n  const prepareNode = $node['Prepare SQL Request'].json;\n  if (prepareNode && prepareNode.template_matched === true) {\n    const templateSql = prepareNode.template_sql;\n    // Basic validation of template SQL\n    if (templateSql && templateSql.toUpperCase().startsWith('SELECT')) {\n      return {\n        ...contextData,\n        validated_sql: templateSql,\n        explanation: prepareNode.template_explanation || 'Template-matched query',\n        validation_status: 'PASSED',\n        validation_method: 'TEMPLATE',\n        validation_timestamp: new Date().toISOString()\n      };\n    }\n  }\n\n  // ============================================\n  // NORMAL PATH \u2014 parse LLM response\n  // ============================================\n  let llmResponse = {};\n  try {\n    // Check if LLM returned an error instead of completions\n    if ($json.error) {\n      return {\n        ...contextData,\n        validated_sql: \"SELECT 'LLM_RATE_LIMITED: \" + String($json.error.message || JSON.stringify($json.error)).replace(/'/g, \"\").substring(0, 100) + \"' as error_message, 'error' as status LIMIT 1\",\n        explanation: 'LLM returned error: ' + JSON.stringify($json.error).substring(0, 200),\n        validation_status: 'FAILED',\n        validation_error: 'LLM_ERROR',\n        validation_timestamp: new Date().toISOString()\n      };\n    }\n    let rawContent = $json.choices?.[0]?.message?.content || '{}';\n    // Strip markdown code fences if present (e.g. ```json ... ```)\n    rawContent = rawContent.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n    llmResponse = JSON.parse(rawContent || '{}');\n  } catch (e) {\n    // LLM returned invalid JSON - return safe fallback\n    return {\n      ...contextData,\n      validated_sql: \"SELECT 'SQL_GENERATION_ERROR: Invalid LLM response' as error_message, 'error' as status LIMIT 1\",\n      explanation: 'LLM returned invalid JSON response',\n      validation_status: 'FAILED',\n      validation_error: 'SQL_GENERATION_ERROR',\n      validation_timestamp: new Date().toISOString()\n    };\n  }\n\n  const sql = String(llmResponse.sql || '').trim();\n  const sqlUpper = sql.toUpperCase();\n\n  // FORBIDDEN PATTERNS - P0 Security\n  const forbiddenPatterns = [\n    /DELETE|UPDATE|INSERT|DROP|TRUNCATE|ALTER|CREATE/i,\n    /GRANT|REVOKE|EXEC|EXECUTE|CALL/i,\n    /--|;.*;|UNION.*SELECT/i,\n    /xp_|sp_|pg_sleep/i,\n    /\\bINTO\\s+OUTFILE\\b|\\bLOAD_FILE\\b/i\n  ];\n\n  for (const pattern of forbiddenPatterns) {\n    if (pattern.test(sqlUpper)) {\n      return {\n        ...contextData,\n        validated_sql: \"SELECT 'SQL_INJECTION_DETECTED' as error_message, 'error' as status LIMIT 1\",\n        explanation: 'Forbidden SQL pattern detected',\n        validation_status: 'FAILED',\n        validation_error: 'SQL_INJECTION_DETECTED',\n        validation_timestamp: new Date().toISOString()\n      };\n    }\n  }\n\n  // REQUIRED PATTERNS - return error instead of throwing\n  if (!sqlUpper.startsWith('SELECT')) {\n    return {\n      ...contextData,\n      validated_sql: \"SELECT 'Query must start with SELECT' as error_message, 'error' as status LIMIT 1\",\n      explanation: 'Query must start with SELECT',\n      validation_status: 'FAILED',\n      validation_error: 'SQL_VALIDATION_ERROR',\n      validation_timestamp: new Date().toISOString()\n    };\n  }\n\n  // Add LIMIT if missing (instead of throwing)\n  let finalSql = llmResponse.sql;\n  if (!sqlUpper.includes('LIMIT')) {\n    finalSql = finalSql + ' LIMIT 1000';\n  }\n\n  // Extract LIMIT value\n  const limitMatch = sqlUpper.match(/LIMIT\\s+(\\d+)/i);\n  if (limitMatch) {\n    const limitValue = parseInt(limitMatch[1]);\n    if (limitValue > 1000) {\n      finalSql = finalSql.replace(/LIMIT\\s+\\d+/i, 'LIMIT 1000');\n    }\n  }\n\n  // Check tenant_id filter - add if missing (instead of throwing)\n  if (!sqlUpper.includes('TENANT_ID')) {\n    // Try to add tenant_id filter\n    if (sqlUpper.includes('WHERE')) {\n      finalSql = finalSql.replace(/WHERE/i, `WHERE tenant_id = '${contextData.user_context.tenant_id}' AND`);\n    } else if (sqlUpper.includes('FROM')) {\n      // Skip tenant_id injection for complex queries (JOINs) - LLM handles it via prompt\n    }\n  }\n\n  // Passed validation\n  return {\n    ...contextData,\n    validated_sql: finalSql,\n    explanation: llmResponse.explanation || '',\n    validation_status: 'PASSED',\n    validation_method: 'LLM',\n    validation_timestamp: new Date().toISOString()\n  };\n\n} catch (globalError) {\n  // Catch-all: never let the node crash\n  return {\n    ...contextData,\n    validated_sql: \"SELECT 'VALIDATOR_ERROR: \" + String(globalError.message).replace(/'/g, \"''\").substring(0, 100) + \"' as error_message, 'error' as status LIMIT 1\",\n    explanation: 'Validator encountered an unexpected error: ' + globalError.message,\n    validation_status: 'FAILED',\n    validation_error: 'VALIDATOR_CRASH',\n    validation_timestamp: new Date().toISOString()\n  };\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "9ca49b68-4d2e-4770-8118-1fc2c22b2ab9",
      "name": "SQL Executor (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueErrorOutput",
      "position": [
        1216,
        208
      ],
      "parameters": {
        "query": "={{ $json.validated_sql }}",
        "options": {
          "ssl": false,
          "queryTimeout": 30000
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "USU8ngVzsUbED3mn",
          "name": "Supabase Postgres (Pooler)"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "47637bf5-d3c9-4a67-9864-3b5a547ca262",
      "name": "Result Aggregator",
      "type": "n8n-nodes-base.code",
      "position": [
        1456,
        0
      ],
      "parameters": {
        "jsCode": "// Prepare data for interpretation - handles both success and error from SQL Executor\nlet validatorData = {};\ntry {\n  validatorData = $node['SQL Validator (Shield #1)'].json || {};\n} catch (e) {\n  validatorData = {};\n}\n\nconst inputItems = $input.all();\nconst sqlResults = [];\n\nfor (const item of inputItems) {\n  // Check if this is an error item\n  if (item.json && !item.json.error && !item.json.errorMessage) {\n    sqlResults.push(item.json);\n  }\n}\n\nif (sqlResults.length === 0) {\n  return {\n    ...validatorData,\n    sql_results: [],\n    result_count: 0,\n    has_results: false,\n    null_aggregation: false\n  };\n}\n\n// ISSUE-QT-14: Detect null aggregation results (SUM/AVG/COUNT returning null)\n// This happens when WHERE filters match no rows (e.g., company_name = 'TechVision'\n// when DB has 'TechVision Inc') - query succeeds but all aggregates return null.\nconst validatedSql = (validatorData.validated_sql || '').toUpperCase();\nconst isAggregation = /\\b(SUM|AVG|COUNT|MIN|MAX)\\s*\\(/.test(validatedSql);\n\nif (isAggregation && sqlResults.length > 0) {\n  const allAggNull = sqlResults.every(row => {\n    const vals = Object.values(row);\n    return vals.length > 0 && vals.every(v => v === null || v === undefined);\n  });\n  if (allAggNull) {\n    return {\n      ...validatorData,\n      sql_results: sqlResults,\n      result_count: 0,\n      has_results: false,\n      null_aggregation: true,\n      result_preview: 'WARNING: Aggregation query returned null on all columns. Probable cause: WHERE filter with inexact entity name. No rows matched the filter.'\n    };\n  }\n}\n\nreturn {\n  ...validatorData,\n  sql_results: sqlResults,\n  result_count: sqlResults.length,\n  has_results: true,\n  null_aggregation: false,\n  result_preview: JSON.stringify(sqlResults.slice(0, 5), null, 2)\n};\n"
      },
      "typeVersion": 2
    },
    {
      "id": "1179b1b8-11c3-41ae-b750-cec4e2687620",
      "name": "Interpretation Layer (LLM Analyst)",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        1872,
        0
      ],
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "body": "={{ JSON.stringify($json.requestBody) }}",
        "method": "POST",
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 8000
          },
          "timeout": 90000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "raw",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "nodeCredentialType": "openRouterApi"
      },
      "credentials": {},
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "id": "d059dfee-3534-4743-a6f8-bb29e0cf17be",
      "name": "Response Formatter",
      "type": "n8n-nodes-base.code",
      "position": [
        2128,
        208
      ],
      "parameters": {
        "jsCode": "// Response Formatter - handles both success and error paths\n// May receive data from Interpretation Layer (success) or Needs SQL Repair? (error)\nlet aggregatorData = {};\nlet initData = {};\nlet interpretation = '';\n\n// Try to get Init & ACL data (always available)\ntry {\n  initData = $node['Init & ACL'].json || {};\n} catch (e) {\n  initData = {};\n}\n\n// Try to get Result Aggregator data (only on success path)\ntry {\n  aggregatorData = $node['Result Aggregator'].json || {};\n} catch (e) {\n  aggregatorData = {};\n}\n\n// Determine interpretation based on input source\n// On success path: $json comes from Interpretation Layer (has choices)\n// On error path: $json comes from Needs SQL Repair? (has error/fallback_message)\nif ($json.choices?.[0]?.message?.content) {\n  interpretation = $json.choices[0].message.content;\n} else if ($json.error || $json.fallback_message) {\n  // Coming from error path\n  interpretation = $json.fallback_message || 'Unable to generate SQL query for this question. Error: ' + (typeof $json.error === 'object' ? JSON.stringify($json.error) : ($json.error || 'unknown'));\n} else {\n  interpretation = 'No interpretation available';\n}\n\nreturn {\n  // ISSUE-QT-14: detect null aggregation - mark as NULL_RESULT not SUCCESS\n  status: aggregatorData.null_aggregation ? 'NULL_RESULT' : (aggregatorData.validation_status === 'PASSED' ? 'SUCCESS' : 'ERROR'),\n  trace_id: aggregatorData.trace_id || initData.trace_id || '',\n  query: aggregatorData.query || initData.query || '',\n  sql_executed: aggregatorData.validated_sql || '',\n  result_count: aggregatorData.result_count || 0,\n  interpretation: interpretation,\n  raw_results: aggregatorData.has_results ? (aggregatorData.sql_results || []) : [],\n  null_aggregation: aggregatorData.null_aggregation || false,\n  metadata: {\n    validation_status: aggregatorData.null_aggregation ? 'NULL_AGGREGATION' : (aggregatorData.validation_status || 'UNKNOWN'),\n    timestamp: new Date().toISOString(),\n    engine: 'QUANTITATIVE'\n  }\n};\n"
      },
      "typeVersion": 2
    },
    {
      "id": "5ba4b171-8e2a-4e2d-82ef-04d6f3cb5c01",
      "name": "OTEL Export (Shield #9)",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "disabled": true,
      "position": [
        2384,
        208
      ],
      "parameters": {
        "url": "https://otel-collector.internal/v1/traces",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "jsonBody": "={\n  \"traceId\": \"{{ $json.trace_id }}\",\n  \"spanName\": \"quantitative_rag_complete\",\n  \"status\": \"{{ $json.status }}\",\n  \"attributes\": {\n    \"result_count\": {{ $json.result_count }},\n    \"sql_length\": {{ $json.sql_executed?.length || 0 }}\n  }\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.3
    },
    {
      "id": "3abfc5c3-e8ce-40ab-936d-a49a33c8e47c",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        368,
        640
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "84eb686e-dc41-452e-a894-f0b6603457c1",
      "name": "Error Response Builder",
      "type": "n8n-nodes-base.code",
      "position": [
        576,
        640
      ],
      "parameters": {
        "jsCode": "// Error handler - graceful fallback when nodes haven't executed\ntry {\n  const error = $json;\n  let initData = {};\n  try {\n    initData = $node['Init & ACL']?.json || {};\n  } catch (e) {\n    initData = { trace_id: 'err-' + Date.now(), query: 'unknown' };\n  }\n\n  return {\n    status: 'ERROR',\n    trace_id: initData.trace_id || 'err-' + Date.now(),\n    error_type: error.message?.includes('SQL_') ? 'SQL_ERROR' :\n                error.message?.includes('rate') ? 'RATE_LIMIT' :\n                error.message?.includes('Provider') ? 'PROVIDER_ERROR' : 'SYSTEM_ERROR',\n    error_message: error.message || error.description || 'Unknown error',\n    query: initData.query || 'unknown',\n    timestamp: new Date().toISOString()\n  };\n} catch (e) {\n  return {\n    status: 'ERROR',\n    trace_id: 'err-fallback-' + Date.now(),\n    error_type: 'ERROR_HANDLER_FAILURE',\n    error_message: e.message || 'Error handler itself failed',\n    timestamp: new Date().toISOString()\n  };\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "37d15e46-31a0-40d5-9baa-77b573a8ee6e",
      "name": "SQL Error Handler (Self-Healing)",
      "type": "n8n-nodes-base.code",
      "position": [
        1392,
        416
      ],
      "parameters": {
        "jsCode": "// SQL Error Handler - Self-Healing (MAX 2 REPAIRS)\n// Counter via $execution.id key + $getWorkflowStaticData (requires N8N_RUNNERS_ENABLED=false)\nconst MAX_REPAIRS = 2;\n\nconst staticData = $getWorkflowStaticData('global');\nconst execId = ($execution && $execution.id) ? $execution.id : ('fallback_' + Date.now());\nconst retryKey = 'repair_' + execId;\n\nconst currentCount = (staticData[retryKey] || 0) + 1;\nstaticData[retryKey] = currentCount;\n\nif (currentCount > MAX_REPAIRS) {\n  delete staticData[retryKey];\n  return [{ json: { needs_repair: false, retry_exhausted: true, error_type: 'SQL_MAX_RETRIES', attempts: currentCount } }];\n}\n\nlet originalQuery = 'unknown';\nlet failedSQL = '';\nlet errorMsg = 'SQL execution failed';\nlet schemaContext = '';\nlet tenantId = 'default';\n\ntry { originalQuery = $node['Init & ACL'].json.query; } catch(e) {}\ntry { failedSQL = ($node['SQL Validator (Shield #1)'].json || {}).validated_sql || $json.sql || ''; } catch(e) {}\ntry { errorMsg = $json.error_message || $json.message || 'SQL execution failed'; } catch(e) {}\ntry { schemaContext = $node['Schema Context Builder'].json.schema_context; } catch(e) {}\ntry { tenantId = ($node['Init & ACL'].json.user_context || {}).tenant_id || 'default'; } catch(e) {}\n\nreturn [{\n  json: {\n    needs_repair: true,\n    retry_count: currentCount,\n    original_query: originalQuery,\n    failed_sql: failedSQL,\n    error_message: errorMsg,\n    schema_context: schemaContext,\n    tenant_id: tenantId,\n    repair_context: {\n      failed_sql: failedSQL,\n      error_message: errorMsg,\n      schema_context: schemaContext\n    }\n  }\n}];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "62e9e6c2-a7b6-4f8f-baf1-8eef71eb898c",
      "name": "SQL Repair LLM",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        1872,
        480
      ],
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "body": "={{ JSON.stringify($json.requestBody) }}",
        "method": "POST",
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 8000
          },
          "timeout": 90000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "raw",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "nodeCredentialType": "openRouterApi"
      },
      "credentials": {},
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "id": "9ea1857a-7959-4480-8a05-962791dd7a5f",
      "name": "Needs SQL Repair?",
      "type": "n8n-nodes-base.if",
      "position": [
        1568,
        240
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "boolean": [
            {
              "conditions": [
                {
                  "operator": {
                    "type": "boolean",
                    "operation": "equals"
                  },
                  "leftValue": "={{ $json.needs_repair }}",
                  "rightValue": true
                }
              ]
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "92c3d6ed-285f-4816-b5c6-5173b374cf65",
      "name": "Repair Parser",
      "type": "n8n-nodes-base.code",
      "position": [
        2096,
        480
      ],
      "parameters": {
        "jsCode": "// Parse SQL Repair response and prepare for retry\nconst repairResponse = $json;\nlet repairedSql = '';\n\ntry {\n  const content = repairResponse.choices?.[0]?.message?.content || repairResponse.body?.choices?.[0]?.message?.content;\n  // Strip markdown code fences if present\n  const cleanContent = (content || '').replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  const parsed = JSON.parse(cleanContent || '{}');\n  repairedSql = parsed.sql;\n} catch (e) {\n  // If parsing fails, return error\n  return {\n    success: false,\n    error: 'SQL_REPAIR_PARSE_ERROR',\n    raw_response: repairResponse\n  };\n}\n\n// Prepare for SQL Validator re-run\nreturn {\n  sql: repairedSql,\n  is_repaired: true,\n  repair_iteration: $node['SQL Error Handler (Self-Healing)'].json.retry_count\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "caefcce7-a945-4749-bc3d-fbb4efc23bdc",
      "name": "\ud83d\udccb Configuration SOTA 2026",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        208
      ],
      "parameters": {
        "width": 400,
        "height": 600,
        "content": "# \ud83d\udd27 VARIABLES D'ENVIRONNEMENT REQUISES (SOTA 2026)\n\n## LLM APIs\n- `DEEPSEEK_API_KEY` - API key DeepSeek (api.deepseek.com)\n- `ANTHROPIC_API_KEY` - API key Anthropic (pour planning)\n- `GOOGLE_API_KEY` - API key Google (Gemini Flash)\n\n## LLM URLs (optionnel - d\u00e9fauts inclus)\n- `SQL_GENERATION_API_URL` - URL API pour SQL\n- `INTENT_ANALYSIS_API_URL` - URL API pour intent\n- `PLANNING_API_URL` - URL API pour planning\n- `GENERATION_API_URL` - URL API pour g\u00e9n\u00e9ration\n\n## LLM Models (optionnel)\n- `SQL_GENERATION_MODEL` = deepseek-chat\n- `INTENT_ANALYSIS_MODEL` = deepseek-chat\n- `PLANNING_MODEL` = claude-sonnet-4-5-20250929\n- `GENERATION_MODEL` = deepseek-chat\n\n## Embedding (RECOMMAND\u00c9: self-hosted)\n- `EMBEDDING_API_URL` - URL embedding (d\u00e9faut: OpenAI)\n- `EMBEDDING_MODEL` - text-embedding-3-small \u2192 Qwen3-Embedding-8B\n\n## Reranking (RECOMMAND\u00c9: self-hosted)\n- `RERANKER_API_URL` - URL reranker (d\u00e9faut: Cohere)\n- `RERANKER_MODEL` - rerank-v3 \u2192 Qwen3-Reranker-8B\n\n## Impact estim\u00e9 (selon research):\n- -89% co\u00fbt ingestion\n- -95% co\u00fbt requ\u00eates\n- +3% accuracy SQL (BIRD-SQL)\n- +15 pts MTEB (embedding)\n"
      },
      "typeVersion": 1
    },
    {
      "id": "1aa72ae4-5080-4b72-9a03-898056161710",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        16,
        208
      ],
      "parameters": {
        "inputSource": "passthrough"
      },
      "typeVersion": 1.1
    },
    {
      "id": "c97d44ab-afc1-4640-a369-3ba05aedafc3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "326acdfb-3e93-4cc0-8548-1f6e17a4e335",
      "parameters": {
        "public": true,
        "options": {},
        "availableInChat": true
      },
      "typeVersion": 1.4
    },
    {
      "id": "6598d255-2b2a-4afe-9fc8-cd97d1f066e7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        432
      ],
      "webhookId": "3e0f8010-39e0-4bca-9d19-35e5094391a9",
      "parameters": {
        "path": "3e0f8010-39e0-4bca-9d19-35e5094391a9",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "typeVersion": 2.1
    },
    {
      "id": "817873e1-b27e-41e8-9767-356782ae9429",
      "name": "Prepare SQL Request",
      "type": "n8n-nodes-base.code",
      "position": [
        688,
        464
      ],
      "parameters": {
        "jsCode": "// Prepare SQL Request - Safe JSON Building + SQL Templates + Sample Data\nconst initData = $node['Schema Context Builder'].json;\n\n// ============================================\n// SQL Template matching \u2014 bypass LLM for simple queries\n// ============================================\nconst query = initData.query.toLowerCase();\nconst companies = {'techvision': 'TechVision Inc', 'greenenergy': 'GreenEnergy Corp', 'healthplus': 'HealthPlus Labs'};\nlet company = null;\nfor (const [key, name] of Object.entries(companies)) {\n  if (query.includes(key.toLowerCase())) { company = name; break; }\n}\nconst yearMatch = query.match(/(?:fy\\s*)?(\\d{4})/);\nconst year = yearMatch ? parseInt(yearMatch[1]) : null;\nconst quarterMatch = query.match(/q([1-4])\\b/i);\nconst quarter = quarterMatch ? `Q${quarterMatch[1]}` : null;\nconst metricMap = {\n  'revenue': 'revenue', 'net income': 'net_income', 'gross profit': 'gross_profit',\n  'operating income': 'operating_income', 'r&d': 'research_development',\n  'research': 'research_development', 'eps': 'diluted_eps', 'diluted eps': 'diluted_eps',\n  'basic eps': 'basic_eps', 'operating expenses': 'operating_expenses',\n  'cost of goods': 'cost_of_goods_sold', 'selling': 'selling_general_admin'\n};\nlet metric = null;\nfor (const [keyword, col] of Object.entries(metricMap)) {\n  if (query.includes(keyword)) { metric = col; break; }\n}\nif (company && year && metric) {\n  const period = quarter || 'FY';\n  const templateSql = `SELECT ${metric} FROM financials WHERE company_name = '${company}' AND fiscal_year = ${year} AND period = '${period}' LIMIT 1`;\n  // Return BOTH: a minimal requestBody (so HTTP node doesn't crash) AND the template result\n  return [{json: {\n    requestBody: {\n      model: 'meta-llama/llama-3.3-70b-instruct:free',\n      messages: [{role: 'user', content: 'Say OK'}],\n      temperature: 0, max_tokens: 5\n    },\n    template_matched: true,\n    template_sql: templateSql,\n    template_explanation: `Template: ${metric} of ${company} in ${period} ${year}`,\n    template_confidence: 0.95\n  }}];\n}\n\n// ============================================\n// LLM-based SQL generation (for complex queries)\n// ============================================\nconst requestBody = {\n  model: 'meta-llama/llama-3.3-70b-instruct:free',\n  messages: [\n    {\n      role: \"system\",\n      content: `You are an expert SQL generator with explicit Chain-of-Thought reasoning.\n\n!!!! CRITICAL DATA MODEL WARNING !!!!\nThe financials table contains BOTH quarterly rows (period='Q1','Q2','Q3','Q4') AND a full-year aggregate row (period='FY') for each company/year.\n- For annual totals: ALWAYS use period = 'FY'. NEVER SUM() without period filter or you get DOUBLE the real value.\n- For quarterly data: filter by the specific quarter (period = 'Q1', etc.).\n- SUM() is only valid across different companies or fiscal_years, NOT across periods within the same company/year.\n\nSAMPLE DATA (financials table):\n  company_name='TechVision Inc', fiscal_year=2023, period='FY', revenue=6745000000, net_income=1616600000, diluted_eps=16.17\n  company_name='GreenEnergy Corp', fiscal_year=2023, period='FY', revenue=3650000000, net_income=730000000\n  company_name='HealthPlus Labs', fiscal_year=2023, period='FY', revenue=1152000000, net_income=288000000\n  company_name='TechVision Inc', fiscal_year=2023, period='Q1', revenue=1552350000\n\n=== 4-STEP METHOD ===\n\nSTEP 1 - UNDERSTAND THE QUESTION:\n- Identify ENTITIES mentioned (probable tables)\n- Identify METRICS requested (SUM, COUNT, AVG, etc.)\n- Identify FILTERS and CONDITIONS\n- Identify the TIME PERIOD if present\n\nSTEP 2 - MAP TO SCHEMA:\n- Find relevant tables in the provided schema\n- Identify EXACT column names (respect case!)\n- Verify data types\n- If you don't know the exact format of a value (e.g., quarter), use LIKE with wildcard.\nExample: quarter LIKE 'Q3%' instead of quarter = 'Q3'\n- CRITICAL - ENTITY NAMES: When filtering by name (company_name, product_name, etc.), ALWAYS use ILIKE with wildcards.\n  GOOD: WHERE company_name ILIKE '%TechVision%'\n  BAD: WHERE company_name = 'TechVision'\n  Database names often include suffixes (Inc, Corp, Labs, Ltd).\n  Alternative: use company_id if available (e.g., company_id = 'techvision')\n- CRITICAL - PERIOD FILTER / DOUBLE-COUNTING PREVENTION:\n  The financials table contains BOTH period-level rows (Q1, Q2, Q3, Q4) AND full-year aggregate rows (period = 'FY').\n  * For annual/total revenue queries: ALWAYS filter with period = 'FY' to get the pre-computed annual total. Do NOT use SUM() across all periods as this will double-count (giving 2x the real value).\n  * For quarterly queries: filter by the specific period (e.g., period = 'Q1').\n  * Only use SUM() when aggregating across different companies or fiscal_years, NOT across periods within the same company/year.\n  * Example CORRECT query: SELECT revenue FROM financials WHERE company_name ILIKE '%TechVision%' AND fiscal_year = 2023 AND period = 'FY'\n  * Example WRONG query: SELECT SUM(revenue) FROM financials WHERE company_name ILIKE '%TechVision%' AND fiscal_year = 2023  -- This sums FY + Q1+Q2+Q3+Q4 = 2x!\n- Identify necessary JOINs\n\nSTEP 3 - BUILD THE QUERY:\n- SELECT: columns to return\n- FROM: main table\n- JOIN: if multi-table\n- WHERE: filters + tenant_id = '${initData.user_context.tenant_id}'\n- GROUP BY: if aggregation\n- ORDER BY: if sorting requested\n- LIMIT: max 1000\n\nSTEP 4 - VERIFY:\n- Is the query syntactically valid?\n- Does it answer the original question?\n- Do the column names exist in the schema?\n\n=== SECURITY RULES ===\n1. ALWAYS start with SELECT\n2. ALWAYS include tenant_id in WHERE (use: tenant_id = 'default' OR tenant_id IS NULL for max coverage)\n3. ALWAYS LIMIT (max 1000)\n4. NEVER use DELETE, UPDATE, INSERT, DROP, TRUNCATE, ALTER, CREATE\n5. NEVER use SQL comments (--)\n\n=== STRICT JSON FORMAT ===\n{\n  \"reasoning\": {\n    \"entities_found\": [\"...\"],\n    \"metrics_needed\": [\"...\"],\n    \"filters_identified\": [\"...\"],\n    \"tables_used\": [\"...\"],\n    \"joins_needed\": [\"...\"],\n    \"potential_issues\": [\"...\"]\n  },\n  \"sql\": \"SELECT ... FROM ... WHERE tenant_id = '<TENANT_ID>' LIMIT 1000\",\n  \"explanation\": \"This query does X because Y\",\n  \"confidence\": 0.0-1.0\n}`\n    },\n    {\n      role: \"user\",\n      content: `=== USER QUESTION ===\n${initData.query}\n\n=== AVAILABLE SCHEMA ===\n${initData.schema_context}\n\n=== CONTEXT ===\nTenant ID: ${initData.user_context.tenant_id}\nGroups: ${JSON.stringify(initData.user_context.groups)}\n\nGenerate the SQL query with complete Chain-of-Thought reasoning.`\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 1000\n};\n\nreturn {\n  json: {\n    requestBody: requestBody,\n    template_matched: false\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "330eeb68-886e-428f-b453-297cb2094b5d",
      "name": "Prepare Interpretation Request",
      "type": "n8n-nodes-base.code",
      "position": [
        1632,
        0
      ],
      "parameters": {
        "jsCode": "// Prepare Interpretation Request - Safe JSON Building\nconst aggregatorData = $node['Result Aggregator'].json;\n\nconst requestBody = {\n  model: 'google/gemma-3-27b-it:free',\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert financial analyst. Interpret the SQL results and answer the original question clearly and concisely. Always respond in the same language as the question. If the data is empty, explain why.\"\n    },\n    {\n      role: \"user\",\n      content: `Original question: ${aggregatorData.query}\n\nExecuted SQL query: ${aggregatorData.validated_sql}\n\nResults (${aggregatorData.result_count} rows):\n${aggregatorData.result_preview}`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 800\n};\n\nreturn {\n  json: {\n    ...aggregatorData,\n    requestBody: requestBody\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "585ba1b1-1f92-4703-b30e-c245342df589",
      "name": "Prepare SQL Repair Request",
      "type": "n8n-nodes-base.code",
      "position": [
        1696,
        480
      ],
      "parameters": {
        "jsCode": "// Prepare SQL Repair Request - null-safe guard\nconst errorHandlerData = $json;\nconst repairContext = errorHandlerData.repair_context || {};\n\nif (!repairContext.failed_sql) {\n  return { json: { ...errorHandlerData, requestBody: {\"model\": \"meta-llama/llama-3.3-70b-instruct:free\", \"messages\": [{\"role\": \"user\", \"content\": \"return empty JSON: {}\"}], \"max_tokens\": 5}, skip_repair: true } };\n}\n\nconst requestBody = {\n  model: 'google/gemma-3-12b-it:free',\n  messages: [\n    { role: \"system\", content: \"You are an expert SQL debugger. Fix the failed SQL query. Return JSON: {analysis, fix_applied, sql, confidence}\" },\n    { role: \"user\", content: \"FAILED SQL:\\n\" + (repairContext.failed_sql || \"N/A\") + \"\\n\\nERROR:\\n\" + (repairContext.error_message || \"Unknown\") + \"\\n\\nSCHEMA:\\n\" + (repairContext.schema_context || \"N/A\") + \"\\n\\nQUESTION:\\n\" + (repairContext.original_question || \"N/A\") }\n  ],\n  temperature: 0.1,\n  max_tokens: 800\n};\n\nreturn { json: { ...errorHandlerData, requestBody } };"
      },
      "typeVersion": 2
    },
    {
      "id": "67b4a644-948c-402d-9f71-bae592c0ee3d",
      "name": "GitHub Error Logger (quantitative)",
      "type": "n8n-nodes-base.code",
      "onError": "continueRegularOutput",
      "position": [
        2684,
        0
      ],
      "parameters": {
        "jsCode": "// GitHub Error Logger for quantitative\nconst errorData = $input.first().json;\nconst timestamp = new Date().toISOString();\nconst questionId = errorData.question_id || errorData.trace_id || 'q-' + Date.now();\nconst errorType = errorData.error_type || errorData.error_code || 'UNKNOWN';\nconst pipeline = 'quantitative';\n\nconst logEntry = {\n  timestamp: timestamp,\n  pipeline: pipeline,\n  question_id: questionId,\n  error_type: errorType,\n  error_message: (errorData.error || errorData.message || 'No message').slice(0, 500),\n  input: {\n    query: (errorData.query || errorData.original_query || '').slice(0, 300),\n    tenant_id: errorData.tenant_id || 'benchmark'\n  },\n  partial_response: errorData.partial_response || errorData.response || null,\n  n8n_context: {\n    workflow_id: $workflow.id,\n    workflow_name: $workflow.name,\n    execution_id: $execution.id\n  },\n  performance: {\n    latency_ms: errorData.latency_ms || 0,\n    http_status: errorData.http_status || null\n  }\n};\n\nreturn [{ json: logEntry }];"
      },
      "typeVersion": 2
    },
    {
      "id": "bc332ab4-b2b3-48a4-9569-cf1d47c6aa30",
      "name": "SQL Execution Logger",
      "type": "n8n-nodes-base.code",
      "onError": "continueRegularOutput",
      "position": [
        2684,
        200
      ],
      "parameters": {
        "jsCode": "// SQL Execution Logger\nconst input = $input.first().json;\n\nconst log = {\n  timestamp: new Date().toISOString(),\n  pipeline: 'quantitative',\n  step: 'sql_execution',\n  sql: (input.validated_sql || input.sql || input.sql_executed || '').slice(0, 500),\n  validation_status: input.validation_status || input.metadata?.validation_status || 'UNKNOWN',\n  result_count: input.result_count || 0,\n  null_aggregation: input.null_aggregation || false,\n  error: input.sql_error || null\n};\n\nreturn [{ json: { ...input, _sql_log: log } }];"
      },
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Question Type Classifier \u2014 Routes between SQL and Context Reasoning\nconst initData = $input.first().json;\nconst query = initData.query || '';\n\n// Detect Phase 2 context-rich questions (finqa, tatqa, convfinqa format)\n// These questions embed financial context and tables in the question text\nconst hasContextMarker = query.includes('Context:') && query.includes('Question:');\nconst hasTableData = /\\|[^|]+\\|[^|]+\\|/.test(query);\nconst isLongWithContext = (hasContextMarker || hasTableData) && query.length > 500;\n// Also detect 'Please answer the given financial question' pattern\nconst isFinancialContext = query.toLowerCase().includes('please answer the given financial question');\n\nconst isContextQuestion = isLongWithContext || isFinancialContext;\n\nif (isContextQuestion) {\n  // Extract the actual question and context from the composite string\n  let extractedQuestion = query;\n  let extractedContext = '';\n  \n  const contextMatch = query.match(/Context:\\s*([\\s\\S]+?)(?=\\nQuestion:|$)/);\n  const questionMatch = query.match(/Question:\\s*([\\s\\S]+?)(?:\\nAnswer:|$)/);\n  \n  if (contextMatch) extractedContext = contextMatch[1].trim();\n  if (questionMatch) extractedQuestion = questionMatch[1].trim();\n  \n  return [{\n    json: {\n      ...initData,\n      question_type: 'context_reasoning',\n      extracted_question: extractedQuestion,\n      extracted_context: extractedContext.substring(0, 8000),\n      original_query: query\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...initData,\n      question_type: 'sql_query'\n    }\n  }];\n}\n"
      },
      "id": "a1b2c3d4-qtc1-4000-8000-000000000001",
      "name": "Question Type Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "conditions": [
                {
                  "leftValue": "={{ $json.question_type }}",
                  "rightValue": "context_reasoning",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-rqt1-4000-8000-000000000002",
      "name": "Route by Question Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        430,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build LLM request for direct context-based financial reasoning\n// Phase 2 questions (finqa, tatqa, convfinqa) embed context + tables in the question\nconst data = $input.first().json;\n\nconst requestBody = {\n  model: 'meta-llama/llama-3.3-70b-instruct:free',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are an expert financial analyst. Answer the question based ONLY on the provided context and data tables.\\n\\n'\n        + 'RULES:\\n'\n        + '1. Use ONLY the data from the context \u2014 never invent numbers\\n'\n        + '2. Show your calculation steps briefly\\n'\n        + '3. For percentages, calculate precisely (e.g., 0.14464)\\n'\n        + '4. For currency values, give the exact number (e.g., 94.0)\\n'\n        + '5. Keep your answer concise \u2014 give the numerical answer first, then a brief explanation\\n'\n        + '6. If the answer is a list, separate items with newlines\\n'\n        + '7. Match the format expected by the question\\n'\n        + '8. If a table is provided, read the exact values from it\\n'\n        + 'IMPORTANT: Start your response with the direct answer (number, percentage, or text).'\n    },\n    {\n      role: 'user',\n      content: data.extracted_context\n        ? 'Context:\\n' + data.extracted_context + '\\n\\nQuestion: ' + data.extracted_question\n        : data.original_query || data.query\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 500\n};\n\nreturn [{\n  json: {\n    ...data,\n    requestBody: requestBody\n  }\n}];\n"
      },
      "id": "a1b2c3d4-cpr1-4000-8000-000000000003",
      "name": "Prepare Context Reasoning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENROUTER_BASE_URL || 'https://openrouter.ai/api/v1/chat/completions' }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-cll1-4000-8000-000000000004",
      "name": "Context Reasoning LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        900,
        -100
      ],
      "credentials": {},
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format context reasoning response into standard pipeline output\nconst data = $input.first().json;\nlet interpretation = '';\n\nif (data.choices && data.choices[0] && data.choices[0].message) {\n  interpretation = data.choices[0].message.content;\n} else if (data.error) {\n  interpretation = 'Context reasoning failed: ' + \n    (typeof data.error === 'object' ? JSON.stringify(data.error) : String(data.error));\n} else {\n  interpretation = 'No response from LLM';\n}\n\n// Get init data from upstream\nlet initData = {};\ntry {\n  initData = $node['Question Type Classifier'].json || {};\n} catch(e) {\n  try { initData = $node['Init & ACL'].json || {}; } catch(e2) { initData = {}; }\n}\n\nreturn [{\n  json: {\n    status: interpretation.includes('failed') ? 'ERROR' : 'SUCCESS',\n    trace_id: initData.trace_id || '',\n    query: initData.extracted_question || initData.query || '',\n    sql_executed: 'N/A (context-based reasoning)',\n    result_count: 1,\n    interpretation: interpretation,\n    raw_results: [],\n    null_aggregation: false,\n    metadata: {\n      validation_status: 'CONTEXT_REASONING',\n      question_type: 'context_reasoning',\n      timestamp: new Date().toISOString(),\n      engine: 'QUANTITATIVE'\n    }\n  }\n}];\n"
      },
      "id": "a1b2c3d4-crf1-4000-8000-000000000005",
      "name": "Context Response Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        -100
      ]
    }
  ],
  "connections": {
    "Init & ACL": {
      "main": [
        [
          {
            "node": "Question Type Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Introspection": {
      "main": [
        [
          {
            "node": "Schema Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Context Builder": {
      "main": [
        [
          {
            "node": "Prepare SQL Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text-to-SQL Generator (CoT Enhanced)": {
      "main": [
        [
          {
            "node": "SQL Validator (Shield #1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Validator (Shield #1)": {
      "main": [
        [
          {
            "node": "SQL Executor (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Executor (Postgres)": {
      "main": [
        [
          {
            "node": "Result Aggregator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Error Handler (Self-Healing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result Aggregator": {
      "main": [
        [
          {
            "node": "Prepare Interpretation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretation Layer (LLM Analyst)": {
      "main": [
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Error Handler (Self-Healing)": {
      "main": [
        [
          {
            "node": "Needs SQL Repair?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs SQL Repair?": {
      "main": [
        [
          {
            "node": "Prepare SQL Repair Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Repair LLM": {
      "main": [
        [
          {
            "node": "Repair Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Parser": {
      "main": [
        [
          {
            "node": "SQL Validator (Shield #1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Init & ACL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Init & ACL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Init & ACL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SQL Request": {
      "main": [
        [
          {
            "node": "Text-to-SQL Generator (CoT Enhanced)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interpretation Request": {
      "main": [
        [
          {
            "node": "Interpretation Layer (LLM Analyst)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SQL Repair Request": {
      "main": [
        [
          {
            "node": "SQL Repair LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question Type Classifier": {
      "main": [
        [
          {
            "node": "Route by Question Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Question Type": {
      "main": [
        [
          {
            "node": "Prepare Context Reasoning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schema Introspection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context Reasoning": {
      "main": [
        [
          {
            "node": "Context Reasoning LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Reasoning LLM": {
      "main": [
        [
          {
            "node": "Context Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all"
  },
  "active": true
}