n8n/website/website-ingestion-industrie.json
{
  "name": "WEBSITE - Ingestion INDUSTRIE",
  "id": null,
  "active": false,
  "_website_metadata": {
    "sector": "industrie",
    "namespace": "industrie",
    "pinecone_index": "website-sectors-jina-1024",
    "datasets": [
      "manufacturing_qa",
      "ragbench"
    ],
    "note": "Workflow d'ingestion spécifique secteur website — NE PAS confondre avec rag-data-ingestion"
  },
  "nodes": [
    {
      "id": "trigger-industrie",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "config-industrie",
      "name": "Ingestion Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "// Website Ingestion Config — INDUSTRIE sector\n// Target: Pinecone index 'website-sectors-jina-1024', namespace 'industrie'\n// DO NOT use rag-data-ingestion workflows (those are for benchmarks only)\n\nconst config = {\n  sector: 'industrie',\n  namespace: 'industrie',\n  pinecone_index: 'website-sectors-jina-1024',\n  jina_model: 'jina-embeddings-v3',\n  chunk_size: 512,\n  chunk_overlap: 50,\n  late_chunking: true,  // Late Chunking (arXiv:2409.04701) — +10-12% retrieval\n  datasets: [\"manufacturing_qa\", \"ragbench\"],\n  hf_ids: [\"thesven/manufacturing-qa-gpt4o\", \"rungalileo/ragbench\"],\n  max_docs_per_dataset: 1000,  // Website demo: 1000 docs per dataset\n  batch_size: 50\n};\n\nreturn [{ json: config }];"
      }
    },
    {
      "id": "hf-download-industrie",
      "name": "HuggingFace Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Download industrie datasets from HuggingFace\n// This node calls the HuggingFace API to get dataset samples\nconst config = $json;\nconst results = [];\n\nfor (const hf_id of config.hf_ids) {\n  const url = `https://datasets-server.huggingface.co/first-rows?dataset=${encodeURIComponent(hf_id)}&config=default&split=train&offset=0&length=${config.max_docs_per_dataset}`;\n  // Note: Actual download happens via HTTP Request node below\n  results.push({\n    hf_id: hf_id,\n    download_url: url,\n    sector: config.sector,\n    namespace: config.namespace\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      }
    },
    {
      "id": "http-download-industrie",
      "name": "HTTP: Download Dataset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        600,
        0
      ],
      "parameters": {
        "url": "={{ $json.download_url }}",
        "method": "GET",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HF_TOKEN }}"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "chunk-industrie",
      "name": "Chunking & Preparation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "jsCode": "// Chunk documents for industrie — Late Chunking enabled\nconst response = $json;\nconst rows = response.rows || [];\nconst chunks = [];\n\nfor (let i = 0; i < rows.length; i++) {\n  const row = rows[i].row || rows[i];\n  // Extract text from common field names\n  const text = row.question || row.text || row.content || row.context || \n               row.passage || row.answer || JSON.stringify(row).substring(0, 1000);\n  \n  if (!text || text.length < 20) continue;\n  \n  // Simple chunking (512 tokens ≈ 2000 chars)\n  const chunkSize = 2000;\n  const overlap = 200;\n  \n  for (let start = 0; start < text.length; start += chunkSize - overlap) {\n    const chunk = text.substring(start, start + chunkSize);\n    if (chunk.length < 50) continue;\n    \n    chunks.push({\n      id: `industrie-${i}-${chunks.length}`,\n      text: chunk,\n      sector: 'industrie',\n      namespace: 'industrie',\n      metadata: {\n        source: $('HTTP: Download Dataset').item?.json?.hf_id || 'unknown',\n        chunk_index: chunks.length,\n        sector: 'industrie',\n        pipeline: 'website-ingestion'\n      }\n    });\n  }\n}\n\nreturn chunks.map(c => ({ json: c }));"
      }
    },
    {
      "id": "embed-industrie",
      "name": "Jina Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "url": "https://api.jina.ai/v1/embeddings",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"jina-embeddings-v3\", \"input\": [{{ $json.text }}], \"task\": \"retrieval.passage\", \"late_chunking\": true}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.JINA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "upsert-industrie",
      "name": "Pinecone Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "url": "={{ $env.PINECONE_HOST }}/vectors/upsert",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"namespace\": \"industrie\",\n  \"vectors\": [{\n    \"id\": $('Chunking & Preparation').item.json.id,\n    \"values\": $json.data?.[0]?.embedding || [],\n    \"metadata\": $('Chunking & Preparation').item.json.metadata\n  }]\n}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $env.PINECONE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "summary-industrie",
      "name": "Ingestion Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "jsCode": "// Summary of ingestion for industrie\nreturn [{\n  json: {\n    sector: 'industrie',\n    namespace: 'industrie',\n    pinecone_index: 'website-sectors-jina-1024',\n    status: 'completed',\n    timestamp: new Date().toISOString(),\n    note: 'Website sector ingestion — distinct from rag-data-ingestion benchmarks'\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Config": {
      "main": [
        [
          {
            "node": "HuggingFace Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HuggingFace Download": {
      "main": [
        [
          {
            "node": "HTTP: Download Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download Dataset": {
      "main": [
        [
          {
            "node": "Chunking & Preparation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking & Preparation": {
      "main": [
        [
          {
            "node": "Jina Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Embeddings": {
      "main": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Upsert": {
      "main": [
        [
          {
            "node": "Ingestion Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}