n8n/pme-connectors/action-executor.json
{
  "name": "Action Executor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pme-action-executor",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "pme-action-executor",
      "notes": "FIX-34: Webhook trigger replaces executeWorkflowTrigger for httpRequest compatibility"
    },
    {
      "parameters": {
        "jsCode": "// Parse action type and extract parameters\nconst body = $input.item.json.body || $input.item.json;\nconst message = body.message || '';\nconst intentData = body.intent || {};\nconst details = intentData.details || {};\n\nlet actionType = 'unknown';\nlet params = {};\n\n// Calendar operations\nif (message.match(/créer.*rendez-vous|ajouter.*calendrier|planifier|rdv/i) || details.action === 'calendar_create') {\n  actionType = 'calendar_create';\n  params = {\n    summary: details.title || 'Rendez-vous',\n    description: details.description || message,\n    start: details.start_time || new Date(Date.now() + 86400000).toISOString(),\n    end: details.end_time || new Date(Date.now() + 90000000).toISOString(),\n    attendees: details.attendees || []\n  };\n}\n// Email send\nelse if (message.match(/envoyer.*email|mail à|écrire à/i) || details.action === 'email_send') {\n  actionType = 'email_send';\n  params = {\n    to: details.recipient || '',\n    subject: details.subject || 'Message automatique',\n    body: details.body || message\n  };\n}\n// Email summary\nelse if (message.match(/résumer.*emails|synthèse.*messages|derniers mails/i) || details.action === 'email_summary') {\n  actionType = 'email_summary';\n  params = {\n    maxResults: details.max_results || 20,\n    query: details.query || 'is:unread',\n    afterDate: details.after_date || new Date(Date.now() - 7 * 86400000).toISOString()\n  };\n}\n// File search\nelse if (message.match(/chercher.*fichier|trouver.*document|recherche.*drive/i) || details.action === 'file_search') {\n  actionType = 'file_search';\n  params = {\n    query: details.search_query || message.replace(/chercher|trouver|recherche/gi, '').trim()\n  };\n}\n// Unknown action — send to RAG as fallback\nelse {\n  actionType = 'fallback_rag';\n  params = { query: message };\n}\n\nreturn { actionType, params, originalMessage: message, channel: body.channel, userId: body.user_id };"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Action Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.actionType }}", "rightValue": "calendar_create", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 0
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.actionType }}", "rightValue": "email_send", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 1
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.actionType }}", "rightValue": "email_summary", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 2
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.actionType }}", "rightValue": "file_search", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 3
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [750, 400]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": { "__rl": true, "value": "primary", "mode": "list", "cachedResultName": "Primary" },
        "start": "={{ $json.params.start }}",
        "end": "={{ $json.params.end }}",
        "summary": "={{ $json.params.summary }}",
        "additionalFields": {
          "description": "={{ $json.params.description }}"
        }
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Google Calendar Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1000, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL",
          "name": "Google Calendar OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "send",
        "message": "={{ $json.params.body }}",
        "subject": "={{ $json.params.subject }}",
        "toEmail": "={{ $json.params.to }}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1000, 350],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": "={{ $json.params.maxResults || 20 }}",
        "filters": {
          "q": "={{ $json.params.query || 'is:unread' }}"
        },
        "options": { "format": "simplified" }
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Gmail Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1000, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "q": "={{ $json.params.query }}",
        "options": {
          "fields": "files(id,name,mimeType,webViewLink,size,modifiedTime)",
          "spaces": "drive"
        }
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Google Drive Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1000, 650],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive OAuth2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct:free', temperature: 0.3, max_tokens: 1000, messages: [{ role: 'system', content: 'Tu es un assistant qui résume des emails de manière concise. Liste les points clés et les actions requises.' }, { role: 'user', content: 'Résume ces emails:\\n' + JSON.stringify($input.all().map(item => ({ from: item.json.from, subject: item.json.subject, snippet: (item.json.snippet || '').substring(0, 300) }))) }] }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "LLM Summarize Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENROUTER_HEADER_AUTH",
          "name": "OpenRouter API"
        }
      },
      "notes": "FIX-33: Uses credential instead of $env"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/92217bb8-ffc8-459a-8331-3f553812c3d0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $('Action Parser').item.json.originalMessage, sector: 'pme-connectors', tenant_id: 'benchmark' }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 60000
        }
      },
      "id": "fallback-rag-node-1234",
      "name": "Fallback RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 800],
      "notes": "Fallback: unknown actions routed to Orchestrator RAG"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate action results into a structured response\nconst actionType = $('Action Parser').item.json.actionType;\nconst originalMessage = $('Action Parser').item.json.originalMessage;\n\nlet result = { success: true, actionType, originalMessage, answer: '', data: {} };\n\ntry {\n  const input = $input.item.json;\n  switch (actionType) {\n    case 'calendar_create':\n      result.answer = `Rendez-vous créé: ${input.summary || 'Nouveau RDV'} le ${input.start?.dateTime ? new Date(input.start.dateTime).toLocaleString('fr-FR') : 'date à confirmer'}`;\n      result.data = { eventId: input.id, link: input.htmlLink };\n      break;\n    case 'email_send':\n      result.answer = `Email envoyé à ${input.to || 'destinataire'} — Sujet: ${input.subject || 'Sans sujet'}`;\n      result.data = { messageId: input.id };\n      break;\n    case 'email_summary':\n      result.answer = input.choices?.[0]?.message?.content || 'Résumé non disponible';\n      result.data = { emailCount: $items('Gmail Read')?.length || 0 };\n      break;\n    case 'file_search':\n      const files = $input.all();\n      if (files.length === 0) { result.answer = 'Aucun fichier trouvé.'; }\n      else {\n        result.answer = `${files.length} fichier(s) trouvé(s):\\n` + files.slice(0, 10).map((f, i) => `${i+1}. ${f.json.name} — ${f.json.webViewLink}`).join('\\n');\n        result.data = { fileCount: files.length };\n      }\n      break;\n    case 'fallback_rag':\n      result.answer = input.answer || input.response || input.result || 'Pas de résultat';\n      result.data = { sources: input.sources };\n      break;\n    default:\n      result.success = false;\n      result.answer = 'Type d\\'action non reconnu.';\n  }\n} catch (error) {\n  result.success = false;\n  result.answer = `Erreur: ${typeof error === 'object' ? JSON.stringify(error.message || error) : error}`;\n}\n\nreturn result;"
      },
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "Result Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": { "options": {} },
      "id": "respond-webhook-action-exec",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1750, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Action Parser", "type": "main", "index": 0 }]] },
    "Action Parser": { "main": [[{ "node": "Action Router", "type": "main", "index": 0 }]] },
    "Action Router": {
      "main": [
        [{ "node": "Google Calendar Create", "type": "main", "index": 0 }],
        [{ "node": "Gmail Send", "type": "main", "index": 0 }],
        [{ "node": "Gmail Read", "type": "main", "index": 0 }],
        [{ "node": "Google Drive Search", "type": "main", "index": 0 }]
      ],
      "extra": [[{ "node": "Fallback RAG", "type": "main", "index": 0 }]]
    },
    "Google Calendar Create": { "main": [[{ "node": "Result Aggregator", "type": "main", "index": 0 }]] },
    "Gmail Send": { "main": [[{ "node": "Result Aggregator", "type": "main", "index": 0 }]] },
    "Gmail Read": { "main": [[{ "node": "LLM Summarize Emails", "type": "main", "index": 0 }]] },
    "Google Drive Search": { "main": [[{ "node": "Result Aggregator", "type": "main", "index": 0 }]] },
    "LLM Summarize Emails": { "main": [[{ "node": "Result Aggregator", "type": "main", "index": 0 }]] },
    "Fallback RAG": { "main": [[{ "node": "Result Aggregator", "type": "main", "index": 0 }]] },
    "Result Aggregator": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "pme-connectors" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-21T05:00:00.000Z",
  "versionId": "2",
  "active": false
}
