n8n/pme-connectors/multi-canal-gateway.json
{
  "name": "Multi-Canal Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pme-assistant-gateway",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "pme-assistant-gateway"
    },
    {
      "parameters": {
        "jsCode": "// Detect and normalize incoming channel\nconst body = $input.item.json.body || $input.item.json;\n\nlet channel = 'unknown';\nlet message = '';\nlet userId = '';\nlet metadata = {};\n\n// WhatsApp detection\nif (body.object === 'whatsapp_business_account' && body.entry) {\n  channel = 'whatsapp';\n  const msg = body.entry[0]?.changes[0]?.value?.messages?.[0];\n  message = msg?.text?.body || '';\n  userId = msg?.from || '';\n  metadata = { messageId: msg?.id, timestamp: msg?.timestamp };\n}\n// Telegram detection\nelse if (body.message && body.message.chat) {\n  channel = 'telegram';\n  message = body.message.text || '';\n  userId = body.message.from.id.toString();\n  metadata = { chatId: body.message.chat.id, messageId: body.message.message_id, username: body.message.from.username };\n}\n// Email/Gmail detection\nelse if (body.from && body.subject) {\n  channel = 'email';\n  message = body.subject + '\\n\\n' + (body.body || body.textPlain || '');\n  userId = body.from;\n  metadata = { messageId: body.messageId, to: body.to, cc: body.cc };\n}\n// Direct API call\nelse if (body.query || body.message) {\n  channel = 'api';\n  message = body.query || body.message;\n  userId = body.user_id || body.userId || 'anonymous';\n  metadata = body.metadata || {};\n}\n\nreturn { channel, message, userId, metadata, timestamp: new Date().toISOString() };"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Channel Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct:free', temperature: 0.2, messages: [{ role: 'system', content: 'You are an intent classifier for an executive assistant. Classify the user message into one of three categories: query (information search/RAG), action (calendar/email/file operations), or report (summary/analysis). Respond ONLY with JSON: {\"intent\": \"query|action|report\", \"confidence\": 0.0-1.0, \"details\": {}}' }, { role: 'user', content: $json.message }] }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Intent Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "notes": "FIX-33: Auth header injected at import time (no $env). FIX-35: URL includes /chat/completions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENROUTER_HEADER_AUTH",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse intent safely with fallback\nconst raw = $input.item.json;\nlet intent = 'query';\nlet confidence = 0.5;\nlet details = {};\n\ntry {\n  const content = raw.choices?.[0]?.message?.content || '{}';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  intent = parsed.intent || 'query';\n  confidence = parsed.confidence || 0.5;\n  details = parsed.details || {};\n} catch (e) {\n  // Default to query on parse error\n  intent = 'query';\n  confidence = 0.3;\n}\n\nreturn { intent, confidence, details, message: $('Channel Detector').item.json.message };"
      },
      "id": "d0e1f2a3-b4c5-6789-0123-456789abcdef",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "query", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 0
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "action", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 1
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "report", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 2
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "rename": true }
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Switch Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/92217bb8-ffc8-459a-8331-3f553812c3d0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $('Channel Detector').item.json.message, sector: 'pme-connectors', tenant_id: 'benchmark' }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 120000
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "RAG Search via Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200],
      "notes": "FIX-34: httpRequest to Orchestrator V10.1 webhook (no executeWorkflow)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/pme-action-executor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Channel Detector').item.json.message, channel: $('Channel Detector').item.json.channel, user_id: $('Channel Detector').item.json.userId, intent: $('Parse Intent').item.json }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 60000
        }
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Action Executor via Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 350],
      "notes": "FIX-34: httpRequest to action-executor webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/92217bb8-ffc8-459a-8331-3f553812c3d0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'Génère un rapport détaillé: ' + $('Channel Detector').item.json.message, sector: 'pme-connectors', tenant_id: 'benchmark' }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 120000
        }
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Report Generator via Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 500],
      "notes": "Reports routed through Orchestrator RAG"
    },
    {
      "parameters": {
        "jsCode": "// Format response for the original channel\nconst channelData = $('Channel Detector').item.json;\nconst channel = channelData.channel;\nconst result = $input.item.json;\n\n// Extract answer from various response formats\nconst answer = result.answer || result.response || result.result || result.final_response || result.interpretation || result.output || 'Désolé, je n\\'ai pas pu traiter votre demande.';\nconst sources = result.sources || result.context || [];\nconst confidence = result.confidence || 0;\n\nlet formattedResponse = {};\n\nswitch (channel) {\n  case 'whatsapp':\n    formattedResponse = {\n      messaging_product: 'whatsapp',\n      to: channelData.userId,\n      type: 'text',\n      text: { body: answer }\n    };\n    break;\n  case 'telegram':\n    formattedResponse = {\n      chat_id: channelData.metadata.chatId,\n      text: answer,\n      parse_mode: 'Markdown'\n    };\n    break;\n  case 'email':\n    formattedResponse = {\n      to: channelData.userId,\n      subject: 'Re: ' + (channelData.metadata.subject || 'Votre demande'),\n      body: answer,\n      inReplyTo: channelData.metadata.messageId\n    };\n    break;\n  case 'api':\n  default:\n    formattedResponse = {\n      success: true,\n      channel,\n      userId: channelData.userId,\n      answer: answer,\n      sources: sources,\n      confidence: confidence,\n      metadata: { timestamp: new Date().toISOString() }\n    };\n    break;\n}\n\nreturn formattedResponse;"
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "Response Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": { "options": {} },
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Channel Detector", "type": "main", "index": 0 }]] },
    "Channel Detector": { "main": [[{ "node": "Intent Classifier", "type": "main", "index": 0 }]] },
    "Intent Classifier": { "main": [[{ "node": "Parse Intent", "type": "main", "index": 0 }]] },
    "Parse Intent": { "main": [[{ "node": "Switch Router", "type": "main", "index": 0 }]] },
    "Switch Router": {
      "main": [
        [{ "node": "RAG Search via Orchestrator", "type": "main", "index": 0 }],
        [{ "node": "Action Executor via Webhook", "type": "main", "index": 0 }],
        [{ "node": "Report Generator via Orchestrator", "type": "main", "index": 0 }]
      ]
    },
    "RAG Search via Orchestrator": { "main": [[{ "node": "Response Formatter", "type": "main", "index": 0 }]] },
    "Action Executor via Webhook": { "main": [[{ "node": "Response Formatter", "type": "main", "index": 0 }]] },
    "Report Generator via Orchestrator": { "main": [[{ "node": "Response Formatter", "type": "main", "index": 0 }]] },
    "Response Formatter": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "pme-connectors" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-21T05:00:00.000Z",
  "versionId": "2",
  "active": false
}
