n8n/pme-connectors/whatsapp-telegram-bridge.json
{
  "name": "WhatsApp Telegram Bridge",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "d1e2f3a4-b5c6-7890-abcd-ef1234567890",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT_CREDENTIAL",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "options": {}
      },
      "id": "e2f3a4b5-c6d7-8901-bcde-f12345678901",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalize WhatsApp Cloud API payload\nconst body = $input.item.json.body || $input.item.json;\nlet normalized = { source: 'whatsapp', success: false };\n\ntry {\n  if (body.object === 'whatsapp_business_account' && body.entry) {\n    const message = body.entry[0]?.changes?.[0]?.value?.messages?.[0];\n    if (message) {\n      normalized = {\n        source: 'whatsapp',\n        query: message.text?.body || message.button?.text || '',\n        channel: 'whatsapp',\n        user_id: message.from,\n        metadata: {\n          messageId: message.id,\n          timestamp: message.timestamp,\n          type: message.type,\n          phoneNumberId: body.entry[0]?.changes?.[0]?.value?.metadata?.phone_number_id\n        },\n        success: true\n      };\n    }\n  }\n  // WhatsApp verification webhook\n  if (body['hub.mode'] === 'subscribe' && body['hub.verify_token']) {\n    normalized = { source: 'whatsapp_verify', challenge: body['hub.challenge'], success: true };\n  }\n} catch (error) {\n  normalized.error = typeof error === 'object' ? JSON.stringify(error.message || error) : String(error);\n}\n\nreturn normalized;"
      },
      "id": "f3a4b5c6-d7e8-9012-cdef-123456789012",
      "name": "Normalize WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalize Telegram update\nconst update = $input.item.json;\nlet normalized = { source: 'telegram', success: false };\n\ntry {\n  if (update.message) {\n    normalized = {\n      source: 'telegram',\n      query: update.message.text || '',\n      channel: 'telegram',\n      user_id: update.message.from.id.toString(),\n      metadata: {\n        chatId: update.message.chat.id,\n        messageId: update.message.message_id,\n        username: update.message.from.username || '',\n        firstName: update.message.from.first_name || '',\n        chatType: update.message.chat.type,\n        date: update.message.date\n      },\n      success: true\n    };\n  }\n} catch (error) {\n  normalized.error = typeof error === 'object' ? JSON.stringify(error.message || error) : String(error);\n}\n\nreturn normalized;"
      },
      "id": "a4b5c6d7-e8f9-0123-def0-234567890123",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/pme-assistant-gateway",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.query, channel: $json.channel, user_id: $json.user_id, metadata: $json.metadata }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 120000
        }
      },
      "id": "c6d7e8f9-a0b1-2345-f012-456789012345",
      "name": "Forward to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.channel || $('Normalize Telegram').item.json?.source }}", "rightValue": "telegram", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 0
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.channel || $('Normalize WhatsApp').item.json?.source }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } }] },
              "output": 1
            }
          ]
        },
        "options": {}
      },
      "id": "f9a0b1c2-d3e4-5678-2345-789012345678",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram').item.json.metadata.chatId }}",
        "text": "={{ $json.answer || $json.response || 'Réponse reçue' }}",
        "parseMode": "Markdown",
        "options": { "disable_web_page_preview": true }
      },
      "id": "d7e8f9a0-b1c2-3456-0123-567890123456",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_BOT_CREDENTIAL",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/WHATSAPP_PHONE_NUMBER_ID_PLACEHOLDER/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('Normalize WhatsApp').item.json.user_id, type: 'text', text: { body: $json.answer || $json.response || 'Réponse reçue' } }) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "e8f9a0b1-c2d3-4567-1234-678901234567",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WHATSAPP_BEARER_AUTH",
          "name": "WhatsApp Cloud API"
        }
      },
      "notes": "FIX-33: Uses httpHeaderAuth credential instead of $env. Phone number ID injected at import time."
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Normalize Telegram", "type": "main", "index": 0 }]] },
    "WhatsApp Webhook": { "main": [[{ "node": "Normalize WhatsApp", "type": "main", "index": 0 }]] },
    "Normalize WhatsApp": { "main": [[{ "node": "Forward to Gateway", "type": "main", "index": 0 }]] },
    "Normalize Telegram": { "main": [[{ "node": "Forward to Gateway", "type": "main", "index": 0 }]] },
    "Forward to Gateway": { "main": [[{ "node": "Route Response", "type": "main", "index": 0 }]] },
    "Route Response": {
      "main": [
        [{ "node": "Send Telegram Response", "type": "main", "index": 0 }],
        [{ "node": "Send WhatsApp Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "pme-connectors" }],
  "triggerCount": 2,
  "updatedAt": "2026-02-21T05:00:00.000Z",
  "versionId": "2",
  "active": false
}
